.work_filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.75rem;
    margin-bottom: var(--mb-2);
}

.work_item{
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem 0.75rem;
    font-weight: var(--font-medium);
    border-radius: 0.5rem;
    text-transform: capitalize;
}

.work_item:hover{
    background-color: var(--title-color);
    color: var(--container-color);
}

/* //// */


.projects_container{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3rem;
    justify-content: center;
}

.work_card{
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    border-radius: 1rem;
}

.work_img{
    width: 295px;
    border-radius: 1rem;
    margin-bottom: var(--mb-1);
}

.work_title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);
}

.work_button{
    
    align-items: center;
    padding: 0.5rem;
    height: 2.7rem;
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 0.5rem;
    column-gap: 0.15rem;
    
  
}


.work_button:hover{
    background-color: rgba(0, 0, 0, 0.1); 
}

.github_button{
    background-color:#222c38;
    color: white;
}
.github_button:hover{
    background-color:#151a20;
   
}

.work_button-icon{
    font-size: 1rem;
    transition: 0.4s;
    
 
}

.work_github-icon{
    font-size: 1rem;
}